/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.cover-photo {
    max-height: 312px;
    object-fit: cover;
    object-position: 0 0;
}

svg { vertical-align: baseline; }